<ion-header>
  <ion-toolbar>
    <ion-title>Galeria</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    

    <ion-button (click)="goToTab1()">
      <ion-icon slot="icon-only" name="home-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image"></div> 
  <!-- Contenedor de búsqueda -->
  <!-- <ion-card> 
    <ion-card-content>
      <ion-searchbar placeholder="Buscar"></ion-searchbar>
    </ion-card-content>
  </ion-card>-->

  <ion-card *ngFor="let card of receivedData">
    <img [src]="card.imageSrc" alt="Imagen">
    <ion-card-header>
      <ion-card-title>{{ card.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>{{ card.description }}</ion-card-subtitle>
      <p>Fecha: {{ card.currentDate }}</p>
    </ion-card-content>
  </ion-card>


  
  <!-- Resto del contenido de la página -->
</ion-content>
<ion-footer>
  <ion-toolbar >
    <div class="camara">
      <button (click)="navigateCamera()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </div>  </ion-toolbar>
</ion-footer>