<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Proyecto final</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="login-page">
  <div class="background-image"></div> 
  <ion-card class="login-card"> 
    
    <ion-toolbar class="tool">
      <ion-title class="title">LOGIN</ion-title>
    </ion-toolbar>
    
  <!-- <div class="login-form"> -->
    <ion-item>
      <ion-label position="floating" >Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="username" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" class="custom-button" (click)="login()">Iniciar Sesión</ion-button>
    <!-- <ion-button expand="full" class="custom-button" (click)="goToRegistro()">Registrarse</ion-button> -->
  <!-- </div> -->
</ion-card>
</ion-content>
